@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --font-family: 'Noto Sans', sans-serif;
  --primary-color: #8263a3;
  --text-dark: #232637;
  --white: #ffffff;
  --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
  position: absolute;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

a{
  text-decoration: none;
  transition: 0.3s;
}
body{
  font-family: "Noto Sans", serif;
  background-color: #dbdce0;
}

body::after{
  position: fixed;
  content: "";
  height: 100%;
  top: 0;
  right: 0;
  width: 0;
  background-color: var(--text-dark);
  z-index: -1;

  animation: body-bg 1s ease-in-out forwards;
}
/* animation effect of content  */
@keyframes body-bg{
  0%{
    width: 0vw;
  }
  100%{
    width: 50vw;
  }
}

.container{
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  max-width: var(--max-width);
  margin-inline: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  
}
.container ul{
  list-style: none;
  display: flex;
  gap: 1.2rem;
}
nav{
  display: flex;
  padding: 2rem 0;
  padding-inline: 1rem;
  gap:1rem ;
}

.Navi_left a{
  color: #232637;
  font-weight: 500;
}

.Navi_right a {
  color: #ffffff;
  font-weight: 500;
}

.fa-solid{
  margin-right: 0.2rem;
}

nav a:hover{
  color: #8263a3;
}
.letter-t{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40rem;
  line-height: 40rem;
  font-weight: 900;
  color: #8263a3;
}

header h4{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  color: #ffffff;
  letter-spacing: 25px;
}

.left-text{
  transform: translate(calc(-60% - 250px),-50%);
}
.right-text{
  transform: translate(calc(-40% + 250px),-50%);
}

.exlpore-more{
  position: absolute;
  top: 50%;
  right: 0;
  padding:calc(2rem - 4px);
  transform: translate(0, -50%) rotate(90deg);
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0 0 50px rgba(0, 0, 0blue, 0.4);
  font-weight: 600;
  border: 1px solid #ffffff;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.my-events{
  position: absolute;
  top: 25%;
  left: 0;
  padding:calc(1.5rem - 4px) calc(2rem - 4px);
  transform: translate(0, -50%) rotate(90deg);
  background-color: transparent;
  color: #232637;
  box-shadow: 0 0 50px rgba(0, 0, 0blue, 0.4);
  font-weight: 600;
  border: 1px solid #232637;
  font-weight: 500;
  cursor: pointer;
}